---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.astro';
---

<Layout title="Astro - Calculator">
	<main class="main-container">
		<Calculator />
	</main>
</Layout>